<nav>
    <div class="w-full p-2 flex flex-row bg-primary-light text-white justify-between align-middle" id="medication">
        <h1 class="text-center p-5 ml-3">Tratamiento</h1>
        <button mat-raised-button 
        class="h-full align-middle" 
        style="background-color: rgb(88, 147, 1); align-self: center;" 
        (click)="handleClose()">
        <p class="text-white text-center">Añadir</p>
    </button>
</div>
</nav>
<section id="form" class="p-1 m-3 border border-gray-400">
    <form class="flex flex-col" [formGroup]="formData">
        <div class="flex w-full p-2 flex-wrap">
            <mat-form-field class="p-2 flex-grow">
                <label for="med">Medicamento</label>
                <input matInput formControlName="medicament" id="med" type="text" placeholder="Ingrese el nombre del medicamento">
            </mat-form-field>
            <mat-form-field class="p-2 flex-grow">
                <label for="dose">Cantidad</label>
                <input matInput formControlName="dose" id="dose" type="text" placeholder="Ingrese la cantidad">
            </mat-form-field>

            <div class="flex justify-between gap-2 mt-6">
                <button mat-raised-button color="primary"
                        (click)="addMedicament()"> 
                    <mat-icon class="text-center m-0">done</mat-icon>
                </button>
                <button mat-raised-button color="warn">
                    <mat-icon class="text-center m-0">
                        delete_forever
                    </mat-icon>
                </button>
            </div>
        </div>
        <div class="w-full py-2 flex flex-nowrap gap-2 h-fit">
            <mat-form-field>
                <label for="consume_method">Via de administración</label>
                <input matInput formControlName="consume_method" id="consume_method" type="text" placeholder="Ingrese la via de administración">
            </mat-form-field>

            <mat-form-field>
                <label for="dose">Dosis</label>
                <input matInput formControlName="dose" id="dose" type="text" placeholder="Ingrese la dosis">
            </mat-form-field>

            <mat-form-field>
                <label for="frequency">Cada</label>
                <input matInput formControlName="frequency" id="frequency" type="text" placeholder="| hrs">
            </mat-form-field>

            <mat-form-field>
                <label for="duration">Durante</label>
                <input matInput formControlName="duration" id="duration" type="text" placeholder="| días">
            </mat-form-field>

            <mat-form-field>
                <label for="notes">Anotaciones</label>
                <input matInput formControlName="notes" id="notes" type="text" placeholder="Ingrese anotaciones">
            </mat-form-field>
        </div>
    </form>
</section>

<section id="meds-list" *ngFor="let med of meds; index as i">
    <div id="med-box" class="flex flex-col w-full m-2 border border-slate-500 p-1">
        <div class=" flex flex-row flex-wrap gap-1">
            <mat-form-field class="p-2 flex-grow">
                <label for="med">Medicamento</label>
                <input matInput [value]="med.medicament" id="med" type="text" [disabled]="true">
            </mat-form-field>
            <mat-form-field class="p-2 flex-grow">
                <label for="dose">Cantidad</label>
                <input matInput [value]="med.quantity" id="dose" type="text" [disabled]="true">
            </mat-form-field>
            <div class="flex items-center mr-3 justify-center text-white text-center font-light">
            <button class="bg-orange-600 hover:bg-orange-700 mx-2 p-1 pt-2 rounded-md flex items-center justify-center"
                (click)="editMed(i)">
                <mat-icon fontSet="material-icons">edit_note</mat-icon>
            </button>
            <button class="bg-warn-light hover:bg-warn-hover mx-2 p-1 pt-2 rounded-md flex items-center justify-center"
                (click)="deleteMed(i)">
                <mat-icon fontSet="material-icons">delete_forever</mat-icon>
            </button>
        </div>
        <div class="w-full py-2 flex flex-nowrap gap-2 h-fit">
            <mat-form-field>
                <label for="consume_method">Via de administración</label>
                <input matInput [value]="med.consume_method" id="consume_method" type="text" placeholder="Ingrese la via de administración" disabled>
            </mat-form-field>
            <mat-form-field>
                <label for="dose">Dosis</label>
                <input matInput [value]="med.quantity" id="dose" type="text" placeholder="Ingrese la dosis" disabled>
            </mat-form-field>

            <mat-form-field>
                <label for="frequency">Cada</label>
                <input matInput [value]="med.frequency" id="frequency" type="text" placeholder="| hrs" disabled>
            </mat-form-field>

            <mat-form-field>
                <label for="duration">Durante</label>
                <input matInput [value]="med.duration" id="duration" type="text" placeholder="| días" disabled>
            </mat-form-field>

            <mat-form-field>
                <label for="notes">Anotaciones</label>
                <input matInput [value]="med.notes" id="notes" type="text" placeholder="Ingrese anotaciones" disabled>
            </mat-form-field>
        </div>
    </div>
</div>
</section>