<div class="px-20">
  <ng-container *ngIf="!isLoading; else loading">
      <div class="flex justify-between">
          <p class="font-medium text-3xl py-6">{{user.name}} {{user.lastname}}</p>
           <button mat-flat-button class="custom" (click)="openEditProfile()"><mat-icon>edit</mat-icon> Editar</button>
      </div> 
      <div class="flex justify-between">
          <mat-card class="card text-center mt-5 flex flex-col justify-center">
              <mat-card-content>
                  <p class="text-xs text-gray-500 tracking-widest">Email</p>
                  <p class="tracking-widest">{{user.email}}</p>
              </mat-card-content>
          </mat-card>
      
          
      </div>
  
     
              
       
  </ng-container>

  <ng-template #loading>
      <loading-spinner whatIsLoading="perfil"></loading-spinner>
  </ng-template>
</div>