<div>
  <div class="w-full">
    <h1 class="flex justify-center text-xl bg-blue-400 p-5">Agregar cuenta</h1>
  </div>
  <div class="max-w-md mx-auto">
    <form class="pt-6 pb-8 mb-4">
      <div class="flex mb-4">
        <div class="w-1/2 mr-2">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput placeholder="Nombre de usuario" />
          </mat-form-field>
        </div>
        <div class="w-1/2 ml-2">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Rol</mat-label>
            <input matInput placeholder="Rol" />
          </mat-form-field>
        </div>
      </div>
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" />
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="Correo electrónico" />
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Contraseña" />
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Confirmación de contraseña</mat-label>
          <input matInput placeholder="Confirmación de contraseña" />
        </mat-form-field>
      </div>
      <div class="flex justify-center">
        <button mat-stroked-button class="mr-4" color="primary">
          Cancelar
        </button>
        <button class="ml-4" mat-raised-button color="primary">Guardar</button>
      </div>
    </form>
  </div>
</div>
