<div class="flex-col">
  <div class="flex justify-end p-4">
    <button mat-raised-button color="primary">+ Agregar cuenta</button>
  </div>
  <div class="flex justify-between">
    <div class="p-3">
      <mat-form-field>
        <mat-label>Ordenar por</mat-label>
        <mat-select>
          <mat-option value="Ordenar por">jaj</mat-option>
          <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option> -->
        </mat-select>
      </mat-form-field>
    </div>
    <div class="p-3">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <div class="flex items-center">
            <mat-icon class="mr-2">search</mat-icon>
            <input matInput placeholder="Ej. Carlos" value="" class="pl-8" />
          </div>
          <mat-label>Buscar cuenta</mat-label>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="p-3">
    <!-- agregar un for para que se repita la card -->
    <mat-card>
      <mat-card-content>
        <div class="flex">
          <div
            class="flex items-center justify-center rounded-full h-14 w-14 bg-secondary text-2xl text-white"
            [style.backgroundColor]="randomColor"
          >
            NA
          </div>
          <div class="flex w-full justify-between">
            <div class="flex flex-col justify-center mx-5">
              <h1 class="text-base">Username - Nombre Apellido</h1>
              <h3 class="text-xs">
                <span class="text-blue-500">Rol: </span>Doctor
              </h3>
            </div>
            <div class="flex items-center">
              <button
                class="mx-2"
                mat-raised-button
                style="background-color: #f7d411"
              >
                <mat-icon class="text-white">edit</mat-icon>
              </button>
              <button class="mx-2" mat-raised-button color="warn">
                <mat-icon class="text-white">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
