<mat-sidenav-container class="h-full">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar class="gap-5">
      <span class="text-xl pt-1 font-medium">MedicApp</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="flex flex-col items-center gap-3 mt-8 mb-3">
      <div class="rounded-full w-fit px-7 py-8 bg-secondary text-5xl text-white">
        {{ userName | shortName }}
      </div>
      <h3 class="text-lg">{{ userName }}</h3>
    </div>
    <mat-nav-list>
      <ng-container *ngFor="let navItem of navItems">
        <a
          *ngIf="
            navItem.permissions ? checkPermission(navItem.permissions) : true
          "
          mat-list-item
          [routerLink]="[navItem.route]"
          routerLinkActive="active-link"
        >
          <div class="flex items-center gap-2">
            <mat-icon>{{ navItem.icon }}</mat-icon>
            <span>{{ navItem.title }}</span>
          </div>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <div class="flex flex-col h-full">
    <mat-toolbar>
      <button
        *ngIf="!sidenav.opened"
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="font-medium text-lg mx-2 pt-1">{{ routeTitle }}</span>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </mat-toolbar>
    <main class="grow relative">
      <router-outlet />
    </main>
  </div>
</mat-sidenav-container>
