<!-- <mat-form-field>
    <mat-label>Ordenar por</mat-label>
    <mat-select disableRipple>
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-select>
</mat-form-field> -->

<select class="p-2 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full order focus:border focus:border-blue-100 focus:outline-none bg-white">
    <option selected>Ordenar por</option>
    <option *ngFor="let option of options" 
        [value]="option"
        class="">
        {{option}}
    </option>
</select>
