.notes-table {
    width: 100%;
  }
  
  .mat-column-date{
    width: 50px;
    border-right: 1px solid currentColor;
    padding-right: 25px;
    text-align: center;
  }
  
  .mat-column-title {
    padding-left: 16px;
    font-size: 20px;
  }
  

  