/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--background-color);}

:root {
  --primary-color: #1C639D;
  /* --secondary-color: #8DADCA; */
  --secondary-color: #b6d1e9;
  --accent-color: #c89df5;
  --warn-color: #ef4444;
  --success-color: #16a34a;
  --background-color: #EFEFEF;
}

.spacer {
  flex: auto;
}

/* Style to fix the weird border in form fields with angular material */
.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: none;
}